
/* nav css */
ul{
    list-style-type:none ;
    background-color:rgb(89, 89, 118);
    margin:1px;
}
ul li{
    display: inline-block;
    padding:10px 100px 10px 100px; 
    color: wheat;
    font-size: 20px;
    font-family: sans-serif;
    width: fit-content;
    
}

li:hover{
    background-color: black;
    color: cornflowerblue;
}
body{
    margin: 0;
 
    background-color:rgb(208, 193, 174);
}
/* div css */
.division{
    display:flex;
    justify-content: center ;
}

.division > div{
    border: 2px solid black;
    margin:10px;
    width:1000px;
    height: 380px;
    background-color:rgb(134, 141, 121) ;
    
}

h1,h3{
    text-align:  center;
}
.para{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    text-align: center;

}

/* Form css */
.span{
    color:red;
}
input{
    width: 80%;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
.labeldata{
    border:none;
    margin:7px;
    padding:5px;
}

/* Button css */
.buttonclass{
    display: flex;
    padding: 40px 0px 0px 0px;
    justify-content: center;

    
    
}
button{
    width:max-content;
    height: max-content;
    padding:10px;
    margin: 10px;
    border-radius: 10px;
}
button:hover{
    background-color:black ;
    color: cornflowerblue;

}
/* image css */
.image{
    text-align: center;
}

/* footer css */
.footer{
    display: inline;
    width:100%;
    height:auto;
    padding:6px;
    background-color:rgb(89, 89, 118) ;
    color: wheat;
    text-align: center;
    position:fixed;
    bottom: 0;
}